.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 300px;
  }

  .small-form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 200px;
  }
  
  label {
    width: 120px;
    text-align: left;
    margin-right: 10px;
  }
  
  input {
    flex-grow: 1;
    width: 200px;
  }

  .smallinput {
    width: 10px;
  }
  