<div class="registrationPageContainer">
  <nav aria-label="breadcrumb" style="font-size: 20px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Bloodsimple</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registration</li>
    </ol>
  </nav>
  <hr />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <form id="regForm" action="/action_page.php">
      <div class="container">
        <div class="brand-logo"></div>
        <div class="brand-title" style="color: #931f20">
          Blood<span style="color: #5e1313">Simple</span>
        </div>
        <div class="tab inputs">
          <label>Personal Identification Number</label>
          <p>
            <input
              placeholder="1234567890123"
              oninput="this.className = ''"
              name="personalIdentificationNumber"
              type=""
            />
          </p>
          <label>E-mail</label>
          <p>
            <input
              placeholder="example@test.com"
              oninput="this.className = ''"
              name="uname"
              type="email"
            />
          </p>
          <label>Password</label>
          <p>
            <input
              placeholder="Min 6 charaters long"
              oninput="this.className = ''"
              name="pword"
              type="password"
            />
          </p>
          <label>Confirm password</label>
          <p>
            <input
              placeholder="Passwords must match"
              oninput="this.className = ''"
              name="con-pword"
              type="password"
            />
          </p>
        </div>
        <div class="tab inputs">
          <label>First name</label>
          <p>
            <input
              placeholder="Enter your first name..."
              oninput="this.className = ''"
              name="fname"
            />
          </p>
          <label>Last name</label>
          <p>
            <input
              placeholder="Enter your last name..."
              oninput="this.className = ''"
              name="lname"
            />
          </p>
          <label for="">Gender</label>
          <div class="d-flex row justify-content-center" style="gap: 15px">
            <div class="col">
              <label
                ><input
                  class="radio"
                  type="radio"
                  formControlName="gender"
                  placeholder=""
                  name="gender"
                  id="gender"
                  checked
                /><span>Male</span></label
              >
            </div>
            <div class="col">
              <label
                ><input
                  class="radio"
                  type="radio"
                  formControlName="gender"
                  placeholder=""
                  name="gender"
                  id="gender"
                /><span>Female</span></label
              >
            </div>
          </div>
        </div>
        <div class="tab inputs">
          <label>Date of Birth</label>
          <p>
            <input
              class="input-text"
              type="date"
              value="2013-10-24T20:36:00"
              step="1"
              min="1850-01-01"
              max="2022-01-01"
            />
          </p>
          <label>Current job</label>
          <input placeholder="Enter your job position..." name="job" type="" />
          <label>Biography</label>
          <p>
            <textarea
              name="text"
              placeholder="(optional)"
              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
            ></textarea>
          </p>
        </div>
        <div class="tab inputs">
          <label>Phone number</label>

          <p>
            <input placeholder="phonenumber" name="phoneNumber" type="phone" />
          </p>
          <label>Country</label>
          <p>
            <input placeholder="Enter your country..." name="country" type="" />
          </p>
          <label>City</label>
          <p>
            <input placeholder="Enter your country..." name="city" type="" />
          </p>
          <label>Street & Street number</label>
          <div class="d-flex row">
            <div class="col-9">
              <p>
                <input
                  placeholder="Enter your street and number..."
                  name="street"
                  type=""
                />
              </p>
            </div>
            <div class="col">
              <p><input placeholder="XY" name="streetNumber" type="" /></p>
            </div>
          </div>
        </div>

        <div style="overflow: auto">
          <div class="d-flex flex-row justify-content-around" style="gap: 12px">
            <button
              type="button"
              class="button"
              id="prevBtn"
              (click)="nextPrev(-1)"
            >
              Previous
            </button>
            <button
              type="button"
              class="button"
              id="nextBtn"
              (click)="nextPrev(1)"
            >
              Next
            </button>
          </div>
        </div>

        <div style="text-align: center; margin-top: 40px">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </div>
    </form>
  </div>
</div>
