<div class="col-md-4" style="margin-left: auto;margin-right: auto;">
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center experience">
            <h2>You have to change password on first login</h2>
        </div><br>
        <form ngNativeValidate #passwordForm="ngForm">
            <div class="col-md-12">
                <label class="labels">Current password</label>
                <input type="password"  class="form-control" name="currentpassword" [(ngModel)]="this.currentpassword" required>
            </div> <br>
            <div class="col-md-12">
                <label class="labels">New password</label>
                <input type="password"  class="form-control" name="newpassword" [(ngModel)]="this.newpassword" required >
            </div><br>
            <div class="col-md-12">
                <label class="labels">Repeat new password</label>
                <input type="password"  class="form-control" name="repeatedpassword" [(ngModel)]="this.repeatedpassword" required>
            </div>
        </form>
    </div>
    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" [disabled]="passwordForm.form.invalid" type="submit" (click)="savePassword()">Change password</button></div>
</div>
