<div class="overlay" style="align-items: center; text-align: center; margin-top: 5%;">
    <div class="container ">
        <div class="heading-page" style="margin-bottom: 2%;">
            <!-- <span style="color:#931F20">user</span><span style="color:#5E1313 ">search</span> -->
            <span style="color:#931F20">Registered users who donated blood</span>
        </div>
        
     
        <table class="table" style="text-align: center; margin-left: 30%; margin: auto;">
            <tr  style="margin: 100px;color: white; background-color: black;">
              <!-- <th class="col" width="15%">ID</th> -->
              <th><a (click)="sortByColumn(this.users$,'personalId')">personalId</a></th>
              <th><a (click)="sortByColumn(this.users$,'name')">Name</a></th>
              <th><a (click)="sortByColumn(this.users$,'email')">Email</a></th>
              <th><a (click)="sortByColumn(this.users$,'job')">Job</a></th>
              <th><a (click)="sortByColumn(this.users$,'phoneNumber')">PhoneNumber</a></th>
                           
              <!-- <th class="col" width="15%">Name</th>
              <th class="col" width="15%">Email</th>
              <th class="col" width="25%">Info</th>
              <th class="col" width="15%">Job</th> -->
              <th class="col" width="35%">Address</th>
    
            </tr>
          <tbody>
            <tr *ngFor="let user of sortedUsers$" style="margin: 100px;"  >
              <td>{{ user.personalId }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <!-- <td > {{ user.bio }}</td> -->
              <td>{{ user.job }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td>{{ user.address.street }} {{ user.address.number }}, {{ user.address.city }}  </td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>