<div class="myAppointmentsContainer">

    <nav aria-label="breadcrumb" style="font-size: 20px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Bloodsimple</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Appointments</li>
          <div style="margin-left:50px;" >
            <button
            class="btn btn-primary btn-dark"
            type="button"
            routerLink="/make-appointment"
            style="font-size: 15px"
          >
            Make an appointment
          </button>
          <button 
            class="btn btn-primary btn-dark"
            type="button"
            routerLink="/donation-form"
            style="font-size: 15px; margin-left:10px"
          >
            Fill the donation form
          </button>
          </div>
        </ol>
    </nav>
    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <th scope="col">Cancellation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let myAppointment of myAppointments">
            <td>{{myAppointment.startTime | date:'short'}}</td>
            <td>{{myAppointment.duration}} min</td>
            <td><button (click)="cancelAppointment(myAppointment)">Cancel</button></td>
          </tr>
        </tbody>
    </table>
</div>
