<div class="myAppointmentsContainer">

    <nav aria-label="breadcrumb" style="font-size: 20px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Bloodsimple</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Appointments</li>
        </ol>
    </nav>
    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Medical center - Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2022-12-05 16:00:00</td>
            <td>2022-12-05 16:20:00</td>
            <td>KCL</td>
          </tr>
        </tbody>
      </table>


</div>
