<div class="myAppointmentsContainer">

    <nav aria-label="breadcrumb" style="font-size: 20px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Bloodsimple</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Appointments</li>
        </ol>
    </nav>
    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <!-- <th scope="col">Medical center</th> -->
            <!-- <th scope="col">Address</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let myAppointment of myAppointments">
            <td>{{myAppointment.startTime | date:'short'}}</td>
            <td>{{myAppointment.duration}} min</td>
            <!-- <td>{{myAppointment.}}</td> -->
            <!-- <td>{{myAppointment.medicalCenter.address.street}} {{myAppointment.medicalCenter.address.number}}, {{myAppointment.medicalCenter.address.city}}</td> -->
          </tr>
        </tbody>
    </table>
</div>
