<div class="medicalCentersContainer">
    <h1 >Medical Centers</h1>

    <br/>

    <div class="form-outline mb-4">
        <input type="search" class="form-control" name="searchText" [(ngModel)]="searchText" placeholder="Search by name or city...">
    </div>
    <span class="filters">
    <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="selected"
     (ngModelChange)="onSelect()"> 
        <option selected disabled value=0>All</option>
        <option value=5>5</option>
        <option value=4>4</option>
        <option value=3>3</option>
        <option value=2>2</option>
        <option value=1>1</option>
    </select>&nbsp;
    <button type="button" class="btn btn-outline-primary" (click)="resetFilter()">Reset filter</button>
    </span>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let medicalCenter of medicalCenters | search: searchText">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.medicalCenter.name}}</h5>
                <p class="card-text">{{this.medicalCenter.description}}</p>
                <p class="card-text">{{this.medicalCenter.address.street}}  {{this.medicalCenter.address.number}}</p>
                <p class="card-text"> {{this.medicalCenter.address.city}}, {{this.medicalCenter.address.country}}</p>
                <p class="card-text">{{this.medicalCenter.grade}}</p>
            </div>
        </div>
        </div>
    </div>
</div>