@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css');
html, body { 
    height: 100%;
    background-color: #ebecf0;

    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;

    
}

::-webkit-scrollbar { width: clamp(1vh, 4px, 1.5vh); height: 0px;}
::-webkit-scrollbar-track {  background-color: #4b0f0f;}
::-webkit-scrollbar-track-piece { background-color: #4b0f0f;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #6e0000; border-radius: 3px; }
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

body { 
    margin: 0; 
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5{
    font-weight: bold !important;
}

a{
    color: gray;
    font-weight: 700;
    font-family: 'Ubuntu';
    text-decoration: underline;
    cursor: pointer;
}

button.swal2-confirm.swal2-styled{
    background-color: #646464;
}