<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">John Doe</span>
                <span class="text-black-50">johndoe@mail.com</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="name" value="John"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="Doe" placeholder="surname"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Email</label><input disabled type="text" class="form-control" placeholder="email" value="johndoe@gmail.com"></div>
                    <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" placeholder="password" value="123"></div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Address street</label><input type="text" class="form-control" placeholder="address street" value="Resavska"></div>
                        <div class="col-md-6"><label class="labels">Address number</label><input type="text" class="form-control" value="12A" placeholder="address number"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">City</label><input type="text" class="form-control" placeholder="city" value="Novi Sad"></div>
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" value="Srbija" placeholder="country"></div>
                    </div>  
                    <div class="col-md-12"><label class="labels">Phone number</label><input type="text" class="form-control" placeholder="phone number" value="064111456"></div>
                    <div class="col-md-12"><label class="labels">JMBG</label><input type="text" class="form-control" placeholder="jmbg" value="2210965806145"></div>
                    <div class="col-md-12">
                        <label class="labels">Gender</label>              
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioBtn" id="male" checked>
                                    <label class="form-check-label">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioBtn" id="female">
                                    <label class="form-check-label">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioBtn" id="other">
                                    <label class="form-check-label">Other</label>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-12"><label class="labels">Profession</label><input type="text" class="form-control" placeholder="profession" value="Full Professor"></div>
                    <div class="col-md-12"><label class="labels">Info about the company/faculty/school</label><input type="text" class="form-control" placeholder="info about the company/faculty/school" value="Faculty of Medicine, University of Novi Sad"></div>                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>Loyalty program</span>
                </div><br>
                <div class="col-md-12">
                    <label class="labels">Total points</label>
                    <input type="text" class="form-control" placeholder="total points" value="156">
                </div> <br>
                <div class="col-md-12">
                    <label class="labels">User category</label>
                    <input type="text" class="form-control" placeholder="user category" value="Silver">
                </div><br>
                <div class="col-md-12">
                    <label class="labels">Benefits</label>
                    <input type="text" class="form-control" placeholder="benefits" value="30% discount in Maxi stores">
                </div>
            </div>
        </div>
    </div>
</div>
