<div class="profileContainer">
  <nav aria-label="breadcrumb" style="font-size: 20px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Bloodsimple</a></li>
      <li class="breadcrumb-item active" aria-current="profile">Profile</li>
    </ol>
  </nav>
  <hr />
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img
            *ngIf="this.activeUser.role == 'USER'"
            src="../assets/svgs/usertype-regularuser-with-bg.svg"
          />
          <img
            *ngIf="this.activeUser.role == 'MEDICAL_ADMIN'"
            src="../assets/svgs/usertype-medicalstaff-with-bg.svg"
          />
          <img
            *ngIf="this.activeUser.role == 'SYSTEM_ADMIN'"
            src="../assets/svgs/usertype-admin-with-bg.svg"
          />
          <br />
          <span class="font-weight-bold"
            >{{ this.user.name }} {{ this.user.surname }}</span
          >
          <span class="text-black-50">{{ this.user.email }}</span>
          <br />
          <div *ngIf="this.activeUser.role == 'USER'">
            <span
              *ngIf="
                this.filledDonationForm &&
                this.isRecentDate(this.donationFormDate)
              "
              class="text-black-50"
            >
              You <b>filled </b> the Blood Donation form <br />
              <b> {{ this.howLongAgoWasDonationFormFilled }} </b>
            </span>
            <div class="mt-2 text-center">
              <button
                class="btn btn-primary profile-button"
                type="button"
                routerLink="/donation-form"
                style="font-size: 12px"
              >
                Fill donation form again
              </button>
            </div>
          </div>
          <br />
          <span class="text-black-50">
            Check your appointments or make a new one:</span
          >
          <div class="mt-3 text-center">
            <button
              class="btn btn-primary profile-button"
              type="button"
              routerLink="/my-appointments"
              style="font-size: 12px"
            >
              View my appointments
            </button>
          </div>
          <div class="mt-3 text-center">
            <button
              class="btn btn-primary profile-button"
              type="button"
              routerLink="/make-appointment"
              style="font-size: 12px"
            >
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <form ngNativeValidate #profileForm="ngForm">
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Name</label
                ><input
                  class="form-control"
                  placeholder="name"
                  name="name"
                  [(ngModel)]="this.user.name"
                  required
                />
              </div>
              <div class="col-md-6">
                <label class="labels">Surname</label
                ><input
                  class="form-control"
                  placeholder="surname"
                  name="surname"
                  [(ngModel)]="this.user.surname"
                  required
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <label class="labels">Personal Identification Number</label
                ><input
                  class="form-control"
                  disabled
                  placeholder="personalId"
                  name="personalId"
                  [(ngModel)]="this.user.personalId"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Email</label
                ><input
                  disabled
                  class="form-control"
                  placeholder="email"
                  name="email"
                  [(ngModel)]="this.user.email"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Phone number</label
                ><input
                  class="form-control"
                  placeholder="phone number"
                  name="phoneNumber"
                  [(ngModel)]="this.user.phoneNumber"
                  pattern="(\+\d{1,2}\s?)?1?\-?\.?\s?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}"
                  required
                />
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="labels">Address street</label
                  ><input
                    class="form-control"
                    placeholder="address street"
                    name="addressStreet"
                    [(ngModel)]="this.user.addressStreet"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label class="labels">Address number</label
                  ><input
                    class="form-control"
                    placeholder="address number"
                    name="addressNumber"
                    [(ngModel)]="this.user.addressNumber"
                    required
                  />
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="labels">City</label
                  ><input
                    class="form-control"
                    placeholder="city"
                    name="addressCity"
                    [(ngModel)]="this.user.addressCity"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label class="labels">Country</label
                  ><input
                    class="form-control"
                    name="addressCountry"
                    [(ngModel)]="this.user.addressCountry"
                    placeholder="country"
                    required
                  />
                </div>
              </div>
              <div class="col-md-12">
                <label class="labels">Gender</label>
                <div class="col-auto">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="radioBtn"
                      id="MALE"
                      name="gender"
                      value="MALE"
                      [(ngModel)]="this.user.gender"
                    />
                    <label class="form-check-label" for="MALE">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="radioBtn"
                      id="FEMALE"
                      name="gender"
                      value="FEMALE"
                      [(ngModel)]="this.user.gender"
                    />
                    <label class="form-check-label" for="FEMALE">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="radioBtn"
                      id="I_WOULD_RATHER_NOT_SAY"
                      name="gender"
                      value="I_WOULD_RATHER_NOT_SAY"
                      [(ngModel)]="this.user.gender"
                    />
                    <label class="form-check-label" for="I_WOULD_RATHER_NOT_SAY"
                      >I would rather not say</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <label class="labels">Profession</label
                ><input
                  class="form-control"
                  placeholder="profession"
                  name="job"
                  [(ngModel)]="this.user.job"
                  required
                />
              </div>
              <div class="col-md-12">
                <label class="labels"
                  >Info about the company/faculty/school</label
                ><input
                  class="form-control"
                  placeholder="info about the company/faculty/school"
                  name="bio"
                  [(ngModel)]="this.user.bio"
                  required
                />
              </div>
            </div>
            <div class="mt-5 text-center">
              <button
                class="btn btn-primary profile-button"
                type="submit"
                [disabled]="profileForm.form.invalid"
                (click)="save()"
              >
                Save Profile
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div
            class="d-flex justify-content-between align-items-center experience"
          >
            <span>Loyalty program</span>
          </div>
          <br />
          <div class="col-md-12">
            <label class="labels">Total points</label>
            <input
              type="text"
              disabled
              class="form-control"
              placeholder="total points"
              value="156"
            />
          </div>
          <br />
          <div class="col-md-12">
            <label class="labels">User category</label>
            <input
              type="text"
              disabled
              class="form-control"
              placeholder="user category"
              value="Silver"
            />
          </div>
          <br />
          <div class="col-md-12">
            <label class="labels">Benefits</label>
            <input
              type="text"
              disabled
              class="form-control"
              placeholder="benefits"
              value="30% discount in Maxi stores"
            />
          </div>
          <hr />
          <div class="col-md-12">
            <label class="labels">Number of penalties in this month</label>
            <input
              type="text"
              disabled
              class="form-control"
              placeholder="total points"
              value="0"
            />
          </div>
          <hr />
          <div class="col-md-12" st>
            <label class="labels">Map</label>
            <div id="map" style="height: 300px;"></div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
