body {
  background: #931f20;
}

.profileContainer {
  padding: 25px 100px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #1009a1;
}

.profile-button {
  background: #931f20;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #944647;
}

.profile-button:focus {
  background: #931f20;
  box-shadow: none;
}

.profile-button:active {
  background: #931f20;
  box-shadow: none;
}

.back:hover {
  color: #931f20;
  cursor: pointer;
}

.labels {
  font-size: 12px;
}

.form-check-label {
  font-size: 14px;
}

.add-experience:hover {
  background: #931f20;
  color: #fff;
  cursor: pointer;
  border: solid 1px #931f20;
}
